.account-pages-container {
  padding-bottom: 60px;

  .category-sub-list {
    a {
      font-size: 16px;
      margin-left: 10px;

      &:hover,
      &.active{
        color: $color-primary;
      }
    }
  }

  .category-sub-menu {

  }

  .category-sub-inner {
    @include clearfix();
    background-color: white;
    padding: 0 20px 20px 20px;
    border-radius: 8px;
    @include box-shadow();
    position: relative;
    z-index: 11;
  }

  .siparis-list {
    ul {
      list-style: none;
      padding: 0;

      li {
        border: 2px solid rgba(51, 51, 95, 0.2);
        padding: 10px;
        width: 100%;
        margin-bottom: 10px;
        
        &:hover {
          border-color: $color-primary;
        }

        .siparis-first-row {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          flex-wrap: wrap;

          >div {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;

          }
        }

        .siparis-second-row {
          padding: 10px 0 5px 0;
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          a {
            @include button();
          }
        }

        span {
          font-size: 16px;
        }

        .siparis-no {
          display: flex;
          flex-direction: column;
          margin-right: 40px;
          span:first-child {
            font-weight: 600;
          }

          span:nth-child(2) {
            font-size: 20px;
          }
        }

        .siparis-tarih {
          display: flex;
          flex-direction: column;
          margin-right: 40px;

          span:first-child {
            font-weight: 600;
          }

          span:nth-child(2) {
            font-size: 20px;
          }
        }

        div.siparis-toplam {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;

          span:first-child {
            font-weight: 600;
          }

          span:nth-child(2) {
            font-size: 20px;
          }
        }

      }
    }
  }
}
.account-right {
  border-radius: 8px;
  background-color: white;
  padding: 10px 20px;
  margin-left: -5px;
  @include box-shadow();

}

.account-uyelik-container {
  .account-right{
    padding-bottom: 60px ;

    h2 {
      margin-bottom: 30px;
    }

    a.button {
      @include button();
      display: inline-block;
    }
  }

  .inputFields  {
    .nice-select span{
      top: inherit;
      left: 36px;
      font-size: 16px;
    }
  }

}

.nice-select {
  border-radius: 0 !important;
  border: 1px solid #c7c7c7;
  height: 45px;
}

.nice-select-float {
  position: absolute;
  left: 20px;
  top: -20px;
}

.adres-list {
  ul {
    list-style: none;
    padding: 0;
    margin-bottom: 60px;

    li {
      border: 2px solid rgba(51, 51, 95, 0.2);
      padding: 10px;
      width: 100%;
      margin-bottom: 10px;

      &:hover {
        border-color: $color-primary;
      }

      .adres-first-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        > div {
          display: flex;
          justify-content: flex-start;
          flex-direction: row;

        }
      }

      .adres-second-row {
        padding: 10px 0 0 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;

        a {
          @include button();
          display: inline-block;
          max-height: 40px;
          border:2px solid $color-primary;

          &.delete-button {
            background-color: transparent;
            color: $color-primary;
            border:2px solid $color-primary;
            font-weight: 600;
          }

        }
      }
    }
  }
}

.yeni-adres {
  a {
    @include button();
    display: inline-block;
    color: white;
  }
  margin-bottom: 20px;
}

.empty-account-box {
  i {
    color: $color-primary;
    margin-right: 6px;
  }
  
  margin: 20px 0;
  background-color: white;
  border-radius: 4px;
  padding: 16px;
}

.hediye-cek-list {
  ul {
    list-style: none;
    padding: 0;
    margin-bottom: 60px;

    li {
      border: 2px solid rgba(51, 51, 95, 0.2);
      padding: 10px;
      width: 100%;
      margin-bottom: 10px;

      &:hover {
        border-color: $color-primary;
      }

      .first-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        > div {
          display: flex;
          justify-content: flex-start;
          flex-direction: row;

        }
      }

      .second-row {
        padding: 10px 0 0 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;

        a {
          @include button();
          display: inline-block;
          max-height: 40px;
          border:2px solid $color-primary;

          &.delete-button {
            background-color: transparent;
            color: $color-primary;
            border:2px solid $color-primary;
            font-weight: 600;
          }

        }
      }
    }
  }
}

.mesaj-list {
  ul {
    list-style: none;
    padding: 0;
    margin-bottom: 60px;

    li {
      border: 2px solid rgba(51, 51, 95, 0.2);
      padding: 10px;
      width: 100%;
      margin-bottom: 10px;

      &:hover {
        border-color: $color-primary;
      }

      .first-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        > div {
          display: flex;
          justify-content: flex-start;
          flex-direction: row;

        }
      }

      .second-row {
        padding: 10px 0 0 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;

        a {
          @include button();
          display: inline-block;
          max-height: 40px;
          border:2px solid $color-primary;

          &.delete-button {
            background-color: transparent;
            color: $color-primary;
            border:2px solid $color-primary;
            font-weight: 600;
          }

        }
      }
    }
  }
}

label.nice-float {
  position: absolute;
  left: 48px;
  top: -20px;
}

.modal-footer {
  .formButton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    a {
      @include button();
      display: inline-block;
    }
  }
}

