.auth-container {
  max-width: 400px;
  text-align: center;
  padding: 20px 0 40px 0;

  .facebookSignIn {
    border: none;
    background-color: #3b5998;
    color: #ffffff;
    padding: 12px 0 12px;
    margin: 30px 0;
    width: 100%;
  }

  .separator-row {
    margin-bottom: 30px;
  }

  .button-row {
    button {
      padding: 12px;
      border: none;
      color: #ffffff;
      background-color: #2076bb;
      margin: 16px 0;
      width: 100%;
    }
  }
}

.inputFields {
  margin-bottom: 30px;
  position: relative;
  padding: 0 15px;

  input,
  textarea,
  select{
    padding: 12px 32px;
    width: 100%;
    border: 1px solid $text-color-soft;
  }

  span {
    position: absolute;
    left: 28px;
    top: 16px;
  }
}

.floatLabel {

  label.float{
    color: $text-color-dark;
    font-size:16px;
    font-weight:400;
    position:absolute;
    pointer-events:none;
    left:50px;
    top:10px;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
  }

  input,
  textarea,
  select{
    &:focus ~ label.float,
    &.not-empty ~ label.float,
    label.floating{
      top:-18px;
      font-size:13px;
      font-weight: 700;
      color: $text-color-dark;
    }
  }

  label.floating{
    top:-18px;
    font-size:13px;
    font-weight: 700;
    color: $text-color-dark;
  }

  &.social {
    label.float {
      left: 48px;
    }
  }
}

.authContainer .floatLabel label {
  left: 48px;
}

.coupon-login-required {
  padding: 0 15px;
  font-size: 18px;
}


.auth-container {
  .button-row {
    .sign-in-extra-button {
      background-color: transparent;
      border: 2px solid $color-primary;
      color: $color-primary;
    }
  }
}

.auth-private {
  color: $color-primary;
}
