.basket-container {
  margin-bottom: 30px;
}

.basket-info {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  background-color: #ffffff;
  border:1px solid #e2e2e2;

  .fa {
    color: $color-primary;
    padding: 0 10px;
  }
  
  p {
    margin: 0;
    display: inline-block;
  }
}

.basket-left {
  margin-top: 20px;
  background-color: white;
  border-radius: 8px;
  @include box-shadow();
  padding: 20px;

  >div {
    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}

.basket-products {
  @include box-shadow();
  margin: 16px 0;
  background-color: #ffffff;
  border-radius: 4px;

  .basket-titles {
    border-bottom: 1px solid $text-color-soft;

    &:before, &:after {
      content: " ";
      display: table;
    }
    
    &:after {
      clear: both;
    }
    
    h4 {
      color: $text-color-dark;
    }
  }

}

.basket-product-list {
  @include clearfix;

  ul {
    padding: 0;
    list-style: none;
    @include clearfix;

    li {
      @include clearfix;
      border-bottom: 1px solid $text-color-soft;
      padding: 12px 0;

      &:last-child  {
        border-bottom: 0;
      }
    }
  }

  .product-count {
    flex-direction: column;
    align-items: flex-start;
    margin:0;
  }

  .remove-item {
    float: right;
    margin-top: 20px;
    font-size: 18px;
  }

  .actual-price {
    font-size: 20px;
    font-weight: 600;
    float: left;
  }

  .basket-product-price {
    display: flex;
    flex-direction: column;
    float: left;
  }
}

.summary {
  padding-right: 0;

  .current-address p {
    font-size: 12px;
    margin: 0;
  }

  .summary-inner {
    @include box-shadow();
    background-color: white;
    border-radius: 4px;
    min-height: 200px;
    margin: 20px 0;
  }

  .title {
    @include clearfix;
    border-bottom: 1px solid $text-color-soft;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 12px 0;
    @include clearfix;

    li {
      @include clearfix;
      padding: 8px;
      border-bottom: 1px solid $text-color-soft;

      &:last-child {
        border-bottom: 0;
      }

      >div:first-child {
        text-align: right;
      }
    }
  }

  .total {
    @include clearfix;
    text-align: center;
    margin-bottom: 20px;

    >p:first-child {
      font-weight: 400;
      font-size: 20px;
    }

    .actual-price {
      display: flex;
      flex-direction: column;

      >span:first-child{
        font-size: 24px;
        font-weight: 600;

        i {
          font-size: 20px;
        }
      }
    }
  }

  .buy-button {
    @include clearfix;
    button, a.button {
      @include box-shadow-color($color-primary);

      width: 100%;
      border: 1px solid $color-primary;
      background-color: $color-primary;
      color: #ffffff;
      font-size: 24px;
      padding: 10px 36px;
      text-align: center;
      @include transition(all .3s);

      &:hover {
        @include box-shadow-color-hover($color-primary);
      }
    }
  }
}

.coupon {
  margin: 30px 0;
  .inputFields {
    max-width: 200px;
    display: flex;

    input {
      width: 180px;
      border: 1px solid $color-primary;
    }
    button,a.button {
      padding: 12px;
      @include button();
    }
  }
}

.empty-basket {
  margin: 120px 0;
  button,
  a.button{
    display: inline-block;
    @include button();
  }
}

.basket-info-header {
  ul {
    list-style: none;
    padding: 0;
    text-align: center;
    max-width: 400px;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    li {
      @include skew-button();
      padding: 8px;

      * {
        @include skew(10deg); //un skew all inner elements.
      }
      i {
        font-size: 20px;
      }

      &.active {
        background-color: white;
        border: 2px solid $color-primary;
        @include box-shadow-color($color-primary);

        i {
          font-size: 20px;
          color: $color-primary;
        }
      }

      &.done {
        background-color: $color-primary;

        i {
          color: white;
        }
      }
    }
  }

  .line {
    width: 100%;
    border-bottom: 2px solid rgba(32, 118, 187, 0.8);
    display: block;
    max-width: 400px;
    margin: 0 auto;
    position: absolute;
    top: 20px;
    left: calc(50% - 200px);
    z-index: -10;
  }
}

.payment-container,
.summary-container,
.delivery-container{
  padding: 0 0 40px 0;
}

.inputFields {
  textarea {
    padding: 12px 34px;
    width: 100%;
    max-height: 120px;
    resize: none;
  }
}

.summary-product-list {
  list-style: none;
  max-height: 80px;
  overflow-y: scroll;
  border: 1px solid lightgray;

  li {
    >div {
      &:first-child {
        padding: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }

    p {
      margin:0;
    }

    .price {
      font-weight: 600;
    }
  }
}

.shipment-chooser {
  list-style: none;
  padding: 0;

  li {
    @include clearfix;
    padding: 8px 0;
    margin: 4px 0;
    background-color: white;

    >div {
      display: flex;
      flex-direction: row;

      input {
        margin: 12px;
      }
    }
  }

  .shipment-price {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
  }
}

.address-details {
  @include clearfix;
  margin: 15px 0;
  border-bottom: 1px solid lightgray;

  label {
    position: absolute;
    top: -20px;
    left: 0;
  }

  select {
    margin: 0;
    background: transparent;
    border: none;
    border-radius: 0;
  }

  .option-outer {
    border: 2px solid $color-primary;
    width: 120px;
    padding: 4px 0;
    margin: 16px 4px 16px 0;
    text-align: center;
    position: relative;
  }

  h3 {
    margin-bottom: 40px;
  }
}

.summary-container {
  padding: 60px 0 40px 0;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;

  i {
    font-size: 60px;
    color: $color-primary;
  }

  button, a.button {
    margin: 20px 0;
    @include button();
  }
}

.current-address {
  margin: 8px 0;
  p {
    margin: 0;
    font-size: 14px;
  }

  .address-title {
    margin: 4px 0;
    font-size: 18px;
    font-weight: 600;
  }

  button, a.button {
    @include button();
    margin: 4px 0;
    padding: 4px 8px;
    display: inline-block;
  }
}

a.new-address-button {
  @include button();
  display: inline-block;
  color: #ffffff;

}

.payment-details {
  @include clearfix;
  padding: 10px 0;

  h3 {
    margin-bottom: 30px;
  }

  .payment-multiple-input {
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    select.form-control {
      border-radius: 0;
      width: 90px;
      margin-right: 30px;
    }
    input {
      padding: 8px;
      width: 60px;
    }
  }
}

.form-control {
  border-radius: 0;
}

.newAddressModal {
  .form-group {
    margin-bottom: 25px;
  }

  .modal-footer {
    button, a.button {
      @include button();
      display: inline-block;
    }

    .remodalCancel {
      float: left;
    }
  }
}

.havale-chooser {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  padding-left: 10px;

  li {
    width: 100%;
  }

  label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    img {
      margin: 0 20px;
    }
  }
}

.picker-label {
  a {
    color: $color-primary;
  }
}

.transferPaymentBottom {
  font-size: 16px;
}

.modal .modal-dialog {
  width: 720px;
  .modal-content {
    border-radius: 8px;
  }
}

.nice-select-cont {
  @include clearfix;
  position: relative;
}

.nice-select {
  padding: 0 12px;

  &.wide {
    margin-bottom: 20px;
  }
}