.basket-container {

}

.basket-info {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  background-color: #ffffff;

  .fa {
    color: $color-primary;
  }
  
  p {
    margin: 0;
    display: inline-block;
  }
}

.basket-products {
  margin-top: 16px;
  background-color: #ffffff;
  border-radius: 4px;

  .basket-titles {
    border-bottom: 1px solid $text-color-soft;

    &:before, &:after {
      content: " ";
      display: table;
    }
    
    &:after {
      clear: both;
    }
    
    h4 {
      color: $text-color-dark;
    }
  }

}