.category-page-container {
  padding: 20px 0;

  .category-left {
    padding-left: 0;
  }
  .category-right {
    padding-right: 0;
  }
}

.category-head {
  padding-left: 0;
}

.category-product-list {
  @include clearfix;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  .product {
    min-width: 214px;
  }
}

$cat-slider-arrow-distance: calc(50% - 440px);

.category_slider {
  .slick-prev {
    left: $cat-slider-arrow-distance;
  }

  .slick-next {
    right: $cat-slider-arrow-distance;
  }
}

.category-sub-menu {
  h3 {
    font-size: 16px;
    cursor: pointer;

    &:hover {
      color: $color-primary;
    }

    i {
      @include transition(all .2s);
      margin-right: 6px;
      font-size: 12px;
    }

    &.ui-state-active {
      color: $color-primary;

      i {
        @include rotate(90deg);
      }
    }
  }
}

.category-sub-list {
  list-style: none;
  padding: 0;
}

.category-filter-menu {
  list-style: none;
  padding: 0;
  max-height: 240px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #ffffff;
  border-radius: 4px;
  padding: 10px 20px;

  li {
    padding: 8px 0;
    input {
      margin-right: 6px;
    }

    a {
      display: flex;
      flex-direction: row;
      align-items: flex-end;

      i {
        width: 20px;
        font-size: 18px;
      }

      .fa-check-square-o {
        display: none;
      }

      .fa-square-o {

      }

      &:hover {
        .fa-check-square-o {
          display: inline-block;
          color: $color-primary;
        }

        .fa-square-o {
          display: none;
        }
      }

      span {
        font-weight: 500;
      }
    }
  }
}

.category-contoller {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 50px;
  background-color: #ffffff;
  margin: 10px 0;

  @include box-shadow();

  select {
    margin: 0 10px;
    background: transparent;
    border: none;
  }

  label {
    margin-left:10px;
  }

  .list-styler {
    margin: 0 20px;

    button {
      background-color: transparent;
      border: 1px solid $color-primary;
      &.active,
      &:hover{
        background-color: $color-primary;

        i {
          color: #fff;
        }
      }
      i {
        color: $color-primary;
      }
    }
  }
}

.product.listed {
  width: 100%;

  .product-inner {
    display: flex;
    flex-direction: row;
    align-items: center;

    .product-description {
      padding: 8px;
      .price {
        align-items: flex-start;
        margin-left: 10px;
      }
    }
  }

  .product-popper  {
    flex-direction: column;
    min-width: 99px;
    order: 5;

    >div {
      width: 100%;
      margin-bottom: 8px;
    }
  }
}

.category-description-text {
  color: $text-color-soft;
}

label {
  display: inline;
}

.regular-checkbox {
  display: none;
}

.regular-checkbox + label {
  background-color: #fafafa;
  border: 1px solid #cacece;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
  padding: 9px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
}

.regular-checkbox + label:active, .regular-checkbox:checked + label:active {
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regular-checkbox:checked + label {
  background-color: #e9ecee;
  border: 1px solid #adb8c0;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
  color: #99a1a7;
}

.regular-checkbox:checked + label:after {
  content: '\2714';
  font-size: 14px;
  position: absolute;
  top: 0px;
  left: 3px;
  color: #99a1a7;
}


.big-checkbox + label {
  padding: 18px;
}

.big-checkbox:checked + label:after {
  font-size: 28px;
  left: 6px;
}

.tag {
  font-family: Arial, sans-serif;
  width: 200px;
  position: relative;
  top: 5px;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  float: left;
}

.radio-1 {
  width: 193px;
}

.button-holder {
  float: left;
}

/* RADIO */

//.regular-radio {
//  display: none;
//}

//.regular-radio + label {
//  -webkit-appearance: none;
//  background-color: #fafafa;
//  border: 1px solid #cacece;
//  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
//  padding: 9px;
//  border-radius: 50px;
//  display: inline-block;
//  position: relative;
//}

.regular-radio:checked + label:after {
  content: ' ';
  width: 12px;
  height: 12px;
  position: absolute;
  top: 3px;
  background: #99a1a7;
  box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
  text-shadow: 0px;
  left: 3px;
  font-size: 32px;
  cursor: pointer;
}

//.regular-radio:checked + label {
//  background-color: #e9ecee;
//  color: #99a1a7;
//  border: 1px solid #adb8c0;
//  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1), inset 0px 0px 10px rgba(0,0,0,0.1);
//}

//.regular-radio + label:active, .regular-radio:checked + label:active {
//  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
//}

.big-radio + label {
  padding: 16px;
}

.big-radio:checked + label:after {
  width: 24px;
  height: 24px;
  left: 4px;
  top: 4px;
}

.pagination {
  margin: 0;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: inline-block;
      padding: 0 8px;
      font-size: 16px;
    }
  }
}

.filter-list-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 10px 2px;
  background-color: white;
  margin-bottom: 12px;
  border-radius: 8px;
  @include box-shadow();

  .filter-list {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    li {
      border: 2px solid rgba(51, 51, 95, 0.2);
      margin-right: 8px;
      background-color: transparent;

      &:hover {
        border-color: $color-primary;
      }

      a {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 8px;

        .filter-text {
          display: flex;
          flex-direction: column;
          padding: 0 10px;

          .filter-title-1 {
            font-weight: 600;
          }
        }
        
        &:hover {
          i {
            color: $color-primary;
          }
        }
      }
    }
  }

  a.delete-all-filter {
    color: white;
    background-color: $color-primary;
    padding: 4px 10px;
    margin: 0 10px;
  }
}

