.category-page-container {
  padding: 20px 0;

  .category-left {
    padding-left: 0;
  }
  .category-right {
    padding-right: 0;
  }
}

.category-product-list {
  @include clearfix;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}