footer{
  .social-bar {
    background-color: #ffffff;
    padding: 20px 0;
  }

  h2 {
    font-weight: 300;
  }

  .social-block,
  .footer-logo{
    display: inline-block;
  }

  .social-block {
    float: right;

    h2 {
      margin: 0;
      display: inline-block;
    }
  }

  .footer-banner {
    text-align: center;
    padding: 10px 0;
    background-color: #ffffff;
  }
}

.social-link {
  @include skew-button;
  display: inline-block;
  margin-left: 10px;
  padding: 9px;

  .fa {
    font-size: 24px;
    @include skew(10deg);
  }

  &:hover {
    cursor: pointer;
  }
}

.facebook-link {
  padding-left: 12px ;

  &:hover {
    background-color: #3b5998;
    color: #ffffff;
  }
}

.twitter-link {
  &:hover {
    background-color: #1da1f2;
    color: #ffffff;
  }
}

.instagram-link {
  padding-left: 9px ;

  &:hover {
    background-color: #000000;
    color: #ffffff;
  }
}

.footer-links {
  padding: 20px 0;
  ul {
    list-style: none;
    padding: 0;

    li {
      line-height: 24px;
    }

    a {
      color: $text-color-dark;

      &:hover {}
    }
  }
}

.e-bulten {
  float: left;
  position: relative;
  display: flex;
  align-items: baseline;

  h3 {
    font-weight: 600;
    margin: 0;
  }

  p {
    margin: 0 10px;
  }

  .inputFields {
    margin-bottom: 0;
  }

  input {
    padding: 12px 12px 12px 32px;
    width: 100%;
    border: 1px solid $color-primary;
  }

  span,
  .floatLabel label{
    color: $color-primary;
  }

  button,
  a.button{
    @include button();
    font-size: 14px;
    position: relative;
    z-index: 10;
    margin-left: -16px;
    padding: 12px 10px;
  }
}

.inputBox {
  display: flex;
  flex-direction: row;
}