header {
  height: 100px;
  position: relative;
  z-index: 15;

  .head-logo {
    max-height: 43px;
  }
}

.fixed-head-menu {
  min-width: 320px;
  position: fixed;
  z-index: 12;
  background-color: $background-color;
  width: 100%;
  padding: 0 0 19px 0;
}

.menu-shadow {
  @include box-shadow();
}

.auth-bar {
  text-align: right;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;

  .phone-number {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    color: $color-primary;
    font-size: 16px;
    margin-right: 10px;

    i {
      color: $color-primary;
      margin-right: 6px;
      margin-top: 2px;
    }
  }

  button,
  a.button{
    background-color: transparent;
    color: $color-primary;
    padding: 0 10px;
    border: 2px solid $color-primary;
    border-top: 0;
    margin-top: -1px;
    display: inline-block;
  }

  a.sign-up-button {
    background-color: $color-primary;
    color: #ffffff;
  }

  div.head-menu-button {
    margin: 0 20px;
    font-weight: 600;
    display: inline-block;
    padding: 0 6px;
    border:2px solid $color-primary;
    border-top:0;
    cursor: pointer;
    position: relative;

    ul {
      display: none;
      position: absolute;
      z-index: 23;
      top:20px;
      width: 200px;
      right:-1px;
      background-color: white;
      height: auto;
      list-style: none;
      padding: 0;
      margin: 0;
      border: 1px solid #e6e6e6;
      @include box-shadow();


      li {
        text-align: center;
        margin: 8px 30px;
        padding: 0 10px;
        border-bottom: 1px solid #eeeeee;

        a{
          color: $color-primary;
          font-weight: 400;
          font-size: 16px;
        }
      }
    }

    &:hover {
      background-color: $color-primary;
      color: white;

      ul {
        display: block;
      }
    }
  }
}

.search-input {
  float: left;
  width: calc(100% - 164px);

  .inputFields {
    margin-bottom: 0;
    padding-right: 18px;
    padding-left: 0;
    input {
      padding: 12px 32px;
      width: calc(100% - 64px);
      border: 1px solid #ececec;

    }
  }

  input {
    display: block;
    margin: 0;
    font-family: sans-serif;
    font-size: 14px;
    box-shadow: none;
    border-radius: 0;
    border: none;
    line-height: 16px;
    padding: 12px 20px;
    float: left;

    @include placeholder {
      color: black;
      font-weight: 300;
      font-size: 16px;
    }
  }

  button,
  a.button {
    float: left;
    padding: 14px;
    border: none;
    color: $text-color-bright;
    background-color: $color-primary;
    line-height: 14px;
    display: inline-flex;
  }
}

.search-bar {
  >div {
    padding: 0;
  }
}

.basket-button {
  float: right;
  width: 120px;
  padding: 12px 18px;
  text-align: left;
  position: relative;
  
  background-color: $color-primary;
  color: $text-color-bright;

  &:hover {
    cursor: pointer;
    color: $text-color-bright;
  }

  .basket-counter {
    height: 28px;
    width: auto;
    border-radius: 32px;
    position: absolute;
    display: block;
    right: -3px;
    top: -6px;
    padding: 2px 8px;
    background-color: #f4f5f9;
    color: #2076bb;
    border: 2px solid;
    font-weight: 600;
  }
}

.category-button {
  padding: 9px;
  margin: 0 16px;
  border:2px solid $color-primary;
  background-color: transparent;
  text-align: center;
  color: $color-primary;

  span {
    font-weight: 400;
    font-size: 16px;
  }

  .nav {
    display: none;
    position: absolute;
    top: 44px;
    left: 16px;
    background-color: #ffffff;
    padding: 16px 0;
    width: 240px;
    z-index: 12;

    @include box-shadow();

    .container,
    .container>div {
      padding: 0;
    }
  }
  
  &.hover {
    cursor: pointer;
    background-color: $color-primary;
    color: #ffffff;

    .nav {
      display: block;
    }
  }

  .nav-list-lv1 {
    padding: 0;
    list-style: none;
    text-align: left;

    >li {
      line-height: 50px;
      padding: 0 15px;

      &:hover {
        background-color: $color-primary;
        color: white;
        cursor: pointer;

        >a,
        >i {
          color: #ffffff;
          cursor: pointer;
        }

        //.menu-lv2 {
        //  display: block;
        //}
      }
    }
    
    i {
      color: $color-primary;
      font-size: 22px;
      margin: 0 8px;
      vertical-align: middle;
    }

    a {
      color: $text-color-dark;

      &:hover {
        text-decoration: none;
        cursor: pointer;

      }
    }
  }


  .menu-lv1-controls {
    text-align: right;
    color: $color-primary;
    @include clearfix;

    button i {
      font-size: 12px;
    }


    .category-close {
      color: $color-primary;
      display: flex;
      align-items: baseline;
      justify-content: flex-end;
      float: right;
      border: none;
      background-color: transparent;
    }
  }

  .menu-lv2 {
    position: absolute;
    left: 100%;
    height: 100%;
    top: 0;
    background-color: #ffffff;
    border-left: 1px solid $text-color-soft;
    display: none;
    width: 694px;
    padding: 8px 0;
    @include box-shadow();

    &.hover {
      display: block;
    }
  }

  .nav-list-lv2 {
    list-style: none;
    padding: 0;
    display: inline-block;
    width: 180px;

    >li {
      line-height: 50px;
      margin: 0px 8px;
      padding: 0 10px;

      &:hover {
        background-color: $color-primary;
        color: #ffffff;
        cursor: pointer;

        >a {
          color: #ffffff;
          cursor: pointer;
        }
      }

    }
  }

  .nav-list-lv2 {
    ul {
      border-bottom: 1px solid $text-color-soft;

      &:last-child {
        border-bottom: 0;
      }
    }

    li {
      border-bottom: 1px solid $text-color-soft;

      &:last-child {
        border-bottom: 0;
      }
    }
  }

  .menu-lv2-controls {
    button {
      color: $color-primary;
      display: flex;
      align-items: baseline;
      justify-content: flex-end;
      float: right;
      border: none;
      background-color: transparent;
    }
  }
}


.promotion-container {
  background-color: white;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
  padding: 10px 0;
  border-bottom: 1px solid #ececec;

  margin-top: -6px;
  text-align: center;
  color: rgba(0, 0, 0, 0.70);

  >div {
    position: relative;
    >a {
      display: flex;
      align-items: baseline;
      justify-content: center;
      text-decoration: none;
      color: rgba(0, 0, 0, 0.70);

      &:hover,
      &:focus{
        cursor: pointer;
        text-decoration: none;
        color: rgba(0, 0, 0, 0.70);
      }
    }
  }

  i {
    position: absolute;
    right: 8px;
    top: 8px;
    color: rgba(0, 0, 0, 0.50);
    font-size: 18px;
  }

  img {
    max-height: 24px;
    margin: 0 10px;
  }

  h3 {
    margin: 16px 0;
  }
}
