/* PRINT VERSION */
@media print {

}

@media (max-width: 1600px) {
  .out-of-bound-banner {
    display: none;
  }
}

@media (max-width: 1200px) {
  .category-button {
    padding: 10px;
    margin: 0 12px 0 24px;

    span {
      font-size: 12px;
    }
  }

  .category_slider .slick-next {
    right: calc(50% - 370px);
  }

  .category_slider .slick-prev {
    left: calc(50% - 370px);
  }


}

@media (max-width: 992px) {
  .category-button {
    margin:0 6px 0 4px;
  }

  .category_slider .slick-next {
    right: calc(50% - 294px);
  }

  .category_slider .slick-prev {
    left: calc(50% - 294px);
  }

  .container-fluid.slider > div.container {
    align-items: center;
  }

}

@media (max-width: 768px) {

  .account-pages-container .siparis-list ul li .siparis-second-row a {
    padding: 10px 8px;
  }

  .account-right {
    margin-left: 0;
    margin-top: 20px;
  }

  .category-sub-menu {
    padding: 0;
  }

  .coupon .inputFields {
    input {
      border-radius: 0;
      width: 160px;
    }

    button,
    .button {
      padding: 10px 6px;
    }
  }

  .e-bulten {
    .button,
    button {
      padding: 12px 4px;
    }
  }

  .basket-product-list {
    .product-count {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .modal div.modal-dialog {
    width: 100%;
    margin: 80px 0;
  }

  .basket-info-header .line {
    width: initial;
  }

  .category-button .nav-list-lv2 > li {
    line-height: 16px;
    height: 50px;
    margin: 0 8px;
    padding: 0 10px;
    display: flex;
    width: 100%;
    align-items: center;
  }

  .container-fluid.slider > div.container {
    flex-direction: column;
  }

  .slider,
  .product-banner-container{
    padding: 0;
  }

  .slider {
    >div.container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  .recent-products {
    h2 {
      text-align: center;
    }
  }

  .featured-products {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 5px;
    padding-right: 5px;

    h2 {
      width: 100%;
      text-align: center;
    }
    >a {
      display: inline-block;
      align-items: center;
      justify-content: center;
      width: 180px;
    }
  }
  .main_slider_container {
    width: 100%;
    margin: 10px 0;
  }

  .daily-product-slider-container {
    width: 100%;
    max-width: 228px;
  }

  .auth-bar {
    align-items: flex-start;
    .phone-number {
      min-width: 180px;
      display: inline-flex;
      justify-content: flex-end;

    }
  }

  .fixed-head-menu {
    padding-top: 0;
    padding-bottom: 10px;
  }

  .featured-products {

  }

  .sale-products {
    h2 {
      margin-bottom: 0;
    }
  }

  .auth-container {
    margin-top: 70px;
  }

  .basket-container {
    margin-top: 20px;

    .summary {
      padding-left: 0;
    }
  }

  .basket-products {
    .basket-titles {
      display: none;
    }
  }

  .category-button {
    margin: 0 6px 0 0;

    >span {
      display: none;
    }
  }

  header .head-logo {
    margin-top: -18px;
    margin-bottom: 10px;
    max-height: 28px;
  }

  .product-title {
    padding: 0 10px;
  }

  .summary {
    padding-left: 0;
  }

  .product_page_container {
    margin-top: 0;
  }

  div.category-product-list {
    flex-direction: column;
    align-items: center;
  }

  div.category-contoller {
    flex-direction: column;
    height: auto;
    padding: 10px;

    .pagination {
      >ul {
        display: inline-flex ;
        flex-direction: row ;
        align-items: baseline ;
        margin: 10px 0;
      }
    }
  }

  div.product-head-info {
    flex-direction: column;
  }

  div.breadcrumbs {
    margin-bottom: 0;
  }

  div.product-code {
    margin: 0 15px;
    align-self: flex-end
  }

  .search-input {
    width: calc(100% - 66px);
    display: inline-flex;
    flex-direction: row;
    align-items: center;

    form {
      width: 100%;
    }

    .inputFields {
      margin-right: -52px;
      min-width: 100px;
      width: 100%;
      input {
        width: calc(100% - 30px);
        font-size: 14px;
        padding: 12px;
      }

      label {
        left: 28px;
      }
    }

    button {
      span {
        display: none;
      }
    }
  }

  .basket-button {
    padding: 12px 13px 11px;
    width: 60px;
    >span {
      display: none;
    }
  }

  .product {
    min-width: 180px;
  }

  .product-popper {
    font-size: 12px;
  }

  footer {
    text-align: center;

    .social-block {
      float: inherit;

      h2 {
        display: block;
      }
    }
  }

  .product_page_container {
    margin-top: 40px;
  }

  h1 {
    font-size: 20px;
  }

  .slider-nav {
    display: none;
  }

  .category-page-container  {
    padding: 40px 0;

    .category-right{
      padding-right: 15px;
    }

    .category-left {
      display: none;
    }
  }
  .category-head {
    padding-left: 15px;
  }

  .category_slider .slick-next {
    left: calc(50% - 320px);
  }

  .category_slider .slick-prev {
    left: calc(50% - 320px);
  }


  .category-button {
    .menu-lv1 {
      display: none;
    }

    .menu-lv2 {
      display: none;
      left: 0;
    }
    nav {
      left: 0;
    }
  }

  .nav-list-lv1 {
    >li {
      &.hover {
        .menu-lv2 {
          display: block;
          flex-direction: column;
          align-items: center;
          width: 100%;
          overflow: scroll;
        }
      }
    }
  }



  .e-bulten {
    flex-direction: column;
    align-items: center;

    .inputBox {
      margin: 20px 0;
    }
  }

  .promotion-container {
    > div {
      > a {
        align-items: center;

        h3 {
          text-align: left;
          font-size: 15px;
        }
      }
    }
  }

  .floatLabel input:focus ~ label.float, .floatLabel input.not-empty ~ label.float, .floatLabel input label.floating, .floatLabel textarea:focus ~ label.float, .floatLabel textarea.not-empty ~ label.float, .floatLabel textarea label.floating {
    left: 72px;
  }
}


@media (max-width: 550px) {
  header .head-logo {
    margin-top: -28px;
  }

  span#lgnName {
    display: inline-block;
    line-height: 12px;
  }

  .auth-private {
    .fa-user-circle {
      display: none;
    }
  }

  .auth-bar div.head-menu-button {
    margin: 0 2px;
  }

  .auth-private {
    max-height: 24px;
  }
}

@media (max-width: 480px) {
  .auth-bar {
    margin-bottom: 28px;

    .phone-number {
      min-width: 130px;
    }
  }

  .fixed-head-menu {
    padding-bottom: 6px;
  }
}

@media (max-width: 352px) {
  .auth-bar {
    margin-bottom: 10px;
  }

  .lSSlideOuter {
    min-width: 294px;
  }
}