/* PRINT VERSION */
@media print {

}

@media (max-width: 1600px) {
  .out-of-bound-banner {
    display: none;
  }
}

@media (max-width: 1200px) {
  .category-button {
    padding: 10px;
    margin: 0 12px 0 24px;

    span {
      font-size: 12px;
    }
  }

  .category_slider .slick-next {
    right: calc(50% - 370px);
  }

  .category_slider .slick-prev {
    left: calc(50% - 370px);
  }


}

@media (max-width: 992px) {
  .category-button {
    margin:0 6px 0 4px;
  }

  .category_slider .slick-next {
    right: calc(50% - 294px);
  }

  .category_slider .slick-prev {
    left: calc(50% - 294px);
  }

}

@media (max-width: 768px) {
  .fixed-head-menu {
    padding-top: 33px;
  }

  .featured-products {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sale-products {
    h2 {
      margin-bottom: 0;
    }
  }

  .auth-container {
    margin-top: 70px;
  }

  .basket-container {
    margin-top: 20px;

    .summary {
      padding-left: 0;
    }
  }

  .basket-products {
    .basket-titles {
      display: none;
    }
  }

  .category-button {
    margin: 0 6px 0 0;

    >span {
      display: none;
    }
  }

  header .head-logo {
    margin-top: -30px;
    margin-bottom: 10px;
    max-height: 24px;
  }

  .search-input {
    width: calc(100% - 60px);

    .inputFields {

      input {
        width: calc(100% - 30px);
        font-size: 14px;
        padding: 12px;
      }

      label {
        left: 28px;
      }
    }

    button {
      span {
        display: none;
      }
    }
  }

  .basket-button {
    padding: 12px 13px;
    width: 60px;
    >span {
      display: none;
    }
  }

  .product {
    min-width: 196px;
  }

  .product-popper {
    font-size: 12px;
  }

  footer {
    text-align: center;

    .social-block {
      float: inherit;

      h2 {
        display: block;
      }
    }
  }

  .product_page_container {
    margin-top: 40px;
  }

  h1 {
    font-size: 20px;
  }

  .slider-nav {
    display: none;
  }

  .category-page-container  {
    padding: 40px 0;

    .category-right{
      padding-right: 15px;
    }

    .category-left {
      display: none;
    }
  }
  .category-head {
    padding-left: 15px;
  }

  .category_slider .slick-next {
    left: calc(50% - 320px);
  }

  .category_slider .slick-prev {
    left: calc(50% - 320px);
  }


  .category-button {
    .menu-lv1 {
      display: none;
    }

    .menu-lv2 {
      display: none;
      left: 0;
    }
    nav {
      left: 0;
    }
  }

  .nav-list-lv1 {
    >li {
      &.hover {
        .menu-lv2 {
          display: block;
          flex-direction: column;
          align-items: center;
          width: 100%;
          overflow: scroll;
        }
      }
    }
  }



  .e-bulten {
    flex-direction: column;
    align-items: center;

    .inputBox {
      margin: 20px 0;
    }
  }

  .promotion-container {
    > div {
      > a {
        align-items: center;

        h3 {
          text-align: left;
          font-size: 15px;
        }
      }
    }
  }

  .floatLabel input:focus ~ label.float, .floatLabel input.not-empty ~ label.float, .floatLabel input label.floating, .floatLabel textarea:focus ~ label.float, .floatLabel textarea.not-empty ~ label.float, .floatLabel textarea label.floating {
    left: 52px;
  }


}