@mixin box-shadow {
  -webkit-box-shadow: 0px 0px 30px -10px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 0px 30px -10px rgba(0,0,0,0.4);
  box-shadow: 0px 0px 30px -10px rgba(0,0,0,0.4);
}

@mixin box-shadow-color($color) {
  -webkit-box-shadow: 0px 0px 30px -10px $color;
  -moz-box-shadow: 0px 0px 30px -10px $color;
  box-shadow: 0px 0px 30px -10px $color;
}

@mixin box-shadow-color-hover($color) {
  -webkit-box-shadow: 0px 0px 30px -5px $color;
  -moz-box-shadow: 0px 0px 30px -5px $color;
  box-shadow: 0px 0px 30px -5px $color;
}

@mixin box-shadow-hover {
  -webkit-box-shadow: 0px 0px 30px -6px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 30px -6px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 30px -6px rgba(0,0,0,0.5);
}

@mixin skew($deg) {
  -ms-transform: skewX($deg); /* IE 9 */
  -webkit-transform: skewX($deg); /* Safari */
  transform: skewX($deg);
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin button(){
  border: 1px solid $color-primary;
  background-color: $color-primary;
  padding: 10px 36px;

  color: #ffffff;
}

@mixin rotate($deg) {
  -ms-transform: rotate($deg); /* IE 9 */
  -webkit-transform: rotate($deg); /* Chrome, Safari, Opera */
  transform: rotate($deg);
}

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
}