//.product_page_container {
//  margin-top: 20px;
//
//  .product-popper {
//    >div {
//      flex-direction: column;
//      border-width: 2px;
//
//      span {
//        text-align: center;
//        padding: 0 0 6px 0;
//      }
//
//      i {
//        margin: 4px;
//      }
//    }
//  }
//}

.product-tabs-container {
  margin: 10px auto 20px;
  border-bottom: 1px solid #ddd;

  background-color: white;
  border-radius: 8px;
  padding: 20px;


  @include box-shadow();
}

.nav-tabs {
  >li {
    &.active,
    &:focus,
    &:hover {
      >a,
      >a:focus,
      >a:hover{
        background-color: $color-primary;
        color: #ffffff;
        border-radius: 0;
        cursor: pointer;
        border-color: transparent;;
      }
    }

    >a {
     font-size: 20px;
      margin: 0 20px;
      color: $color-primary;
    }
  }
}

.tab-content > .tab-pane {
  padding: 10px 0;
}

.product-price {
  text-align: left;

  .old-price {
    font-size: 20px;
  }

  .actual-price {
    font-size: 24px;
    font-weight: 700;
    span {
      font-size: 36px;
    }
  }
}

.product-details {
  @include clearfix;
  margin: 20px 0 -20px 0;
  background-color: #fbfbfb;
  border-radius: 8px;
  padding: 20px;
  z-index: 9;
  position: relative;

  @include box-shadow();

  >div:first-child {
    padding: 0;
  }

  >div:last-child {
    padding-right: 0;
  }

  h1{
    color: #000;
    font-size: 20px;
    margin: 0;
  }
}

.indirim-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.starsBox {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
  margin: 12px 0 20px 0;
  
  i {
    color: $color-primary;
  }

  >div {
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    
    &.stars {
      color: $color-primary;
    }

    a {
      font-weight: 600;
      font-size: 14px;
      padding-bottom: 1px;

      &:hover {
        color: $color-primary;
      }
    }
  }
}

.indirim-box {
  background-color: $color-primary;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding: 2px 12px;
  border-radius: 4px;
  margin: 0 16px;

  span {
    font-weight: 600;

    &:first-child {
      font-size: 20px;
      margin-right: 6px;
    }

    &:last-child {
      font-size: 12px;
    }
  }
}

.slider-for {
  margin-bottom: 8px;
}

.breadcrumbs {
  margin: 8px 12px;

  i {
    color: $color-primary;
    margin-right: 8px;
  }
  >span:before {
    font-family: "Glyphicons Halflings";
    content: "\e250";
    font-size: 10px;
    color: $color-primary;
  }

  a {
    color: $color-primary;
    margin: 0 12px;
  }
}

.product-code {
  margin: 8px 0;
}

.product-discount {
  min-height: 60px;
  width: 100px;

  >div {
    border: 1px solid $color-primary;
    background-color: $color-primary;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
  }
}

.product-count {
  margin: 16px 0;
  display: flex;
  flex-direction: row;
  align-items: center;

  .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  input {
    background: transparent;
    border: none;
    width: 50px;
    text-align: center;
    font-size: 24px;
    margin: 0 2px;
  }

  button,a.button {
    @include skew-button();
    @include box-shadow();
    margin: 0;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    i {
      font-size: 16px;
      margin-top: 4px;
    }

    &:hover {
      background-color: $color-primary;

      i {
        color: #ffffff;
      }
    }
  }

  label {
    align-self: flex-end;
    text-align: right;
    margin: 0 12px 7px -12px;
  }
}

.product-button {
  min-height: 60px;
  margin: 16px 8px;

  >button, a.button {
    border: 1px solid $color-primary;
    background-color: $color-primary;
    color: #ffffff;
    font-size: 24px;
    padding: 10px 36px;
    display: inline-block;
    text-align: center;
  }
}

.product-share {
  margin: 20px 0;
}

.comment-container {
  margin: 24px 0;
  background-color: white;
  padding: 20px;
  border-radius: 8px;

  @include clearfix;
}


.installmentSelect {
  .good-choice {
    border: 3px solid $color-primary;
    color: $color-primary;
  }
}

.product-options{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  label {
    position: absolute;
    top: -20px;
    left: 0;
  }

  select {
    margin: 0 10px;
    background: transparent;
    border: none;
    border-radius: 0;
  }

  .option-outer {
    border: 2px solid $color-primary;
    width: 120px;
    padding: 4px 0;
    margin: 16px 4px 16px 0;
    text-align: center;
    position: relative;
  }

  .multiple-choice {
    width: 100%;
    align-self: flex-end;
    display: flex;
    flex-direction: row;

    .option-outer {
      margin: 4px 4px 4px 0;
      text-align: center;
      padding: 0;
      cursor: pointer;


      &.active,
      &:hover {
        border-color: $color-primary-soft;
        background-color: $color-primary;
        color: white;

        >div:first-child {
          color: white;
        }
      }

      >div:first-child {
        color: $text-color;
      }

      .actual-price {
        font-size: 14px;
        font-weight: 600;

        i {
          font-size: 12px;
        }
      }
    }
  }
}

.product-head-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.product-shipment-info {
  p {
    span {
      color: $color-primary;
    }
  }
}

.comment-login {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin: 10px 0;

  p {
    font-size: 16px;
    margin-right: 10px;
  }


  a {
    padding: 4px 10px;
    margin-right: 10px;
    background-color: $color-primary;
    color: white;
  }
  
}

.count-plus-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}