.product {
  width: 20%;
  min-width: 220px;
  float: left;
  padding: 0 4px;
  margin: 8px 0;

  .product-inner {
    background-color: #ffffff;
    border-radius: 4px;
    padding: 10px;
    text-align: center;

    @include transition(all 0.3s ease);

    @include box-shadow;

    .actual-price {
      font-size: 20px;
      font-weight: 500;

      span {
        font-size: 24px;
      }
    }

    &:hover {
      cursor: pointer;
      @include box-shadow-hover;
    }
  }
  
  .product-popper {
    min-height: 38px;
    
    i {
      color: $color-primary;
    }
  }
}

.sale-products {
  background-color: #003663;
  margin: 20px 0;
  padding: 16px 0;

  h2 {
    font-weight: 700;
    font-style: italic;
    font-stretch: expanded;
    color: $text-color-soft;
    font-size: 36px;
    margin-bottom: 70px;
  }

  h3 {
    font-weight: 400;
    font-size: 30px;
    color: $text-color-soft;
    margin: 0;
  }

  .remaining-time {
    font-size: 36px;
    color: $text-color-soft;
  }

  .slick-slide .product {
    float: initial;
    margin: 8px auto;
  }

  .slick-prev {
    left: calc(50% - 450px);
  }

  .slick-next {
    right: calc(50% - 450px);
  }
}

.product-banner-container {

}