.slick-prev,
.slick-next {
  @include skew-button;
  z-index: 10;
  top: calc(50% - 20px);

  &:hover,
  &:focus{
    background-color: $color-primary;
    
    &:before {
      color: $text-color-bright;
    }
  }
}

$slider-arrow-distance: calc(50% - 480px);

.slick-prev {
  left: $slider-arrow-distance;
}

.slick-next {
  right: $slider-arrow-distance;
}

.slick-prev:before, .slick-next:before {
  font-family: "Glyphicons Halflings";
  font-size: 16px;
  color: $text-color-dark;
}

.slick-prev:before {
  content: "\e257";
}
.slick-next:before {
   content: "\e258";
}

.main_slider {
  .slick-slide img{
    transform: scale(.95);
    opacity: 0.8;
    transition: all 300ms ease;
  }

  .slick-center img{
    transform: scale(1);
    opacity: 1;
  }
}

$recent-slider-arrow-distance: calc(50% - 588px);

.recent-products-slider {
  .slick-prev {
    left: $recent-slider-arrow-distance;
  }

  .slick-next {
    right: $recent-slider-arrow-distance;
  }

  .product .product-inner {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    &:hover {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
  }
}

.slick-dots li.slick-active button:before {
  color: $color-primary;
}

.slick-dots li:hover button:before {
  color: $color-primary-soft;
}