$background-color: #f4f5f9;

$font-primary: 'Source Sans Pro', sans-serif;

$color-primary: #cc3333;
$outline-color: #0089cc;

$text-color-bright: #ffffff;
$text-color-soft: #c7c7c7;
$text-color-dark: #454545;

