$background-color: #f7f7f9;

$font-primary: 'Source Sans Pro', sans-serif;

$color-primary: #2076bb;
$color-primary-soft: rgba(32, 118, 187, 0.8);
$color-primary-light: #218ed3;

$outline-color: #0089cc;

$text-color-bright: #ffffff;
$text-color-soft: #c7c7c7;
$text-color: rgba(69, 69, 69, 0.8);
$text-color-dark: #454545;

